**MY Task**

## Introduction

This notebook explores various concepts in data science, including programming languages, libraries, tools, and arithmetic expressions.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn

## Data Science Tools

| Tool            | Description                               |
|-----------------|-------------------------------------------|
| Jupyter Notebook| Interactive computing environment         |
| RStudio         | Integrated development environment for R   |
| VSCode          | Lightweight code editor                   |
| GoogleColab     | Cloud-based Jupyter notebook              |

In [ ]:
5+2

7

In [ ]:
# Multiplication
result_multiply = 5 * 10
print("Multiplication Result:", result_multiply)

# Addition
result_add = 20 + 30
print("Addition Result:", result_add)

Multiplication Result: 50
Addition Result: 50

In [ ]:
# Conversion from minutes to hours
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours.")

120 minutes is equal to 2.0 hours.

## Objectives

1. Explore data science languages and libraries.
2. Understand basic arithmetic expressions.
3. Familiarize with data science tools.

## Author
Anushalini